site_name: "weekly-insta-job"
theme:
  name: "material"
  palette:
    scheme: slate
plugins:
  - search
  - mkdocstrings
  - autorefs
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.highlight
  - pymdownx.superfences
nav:
    - Home: README.md
    - Code Reference: api.md
